* {
	font-family: 'Raleway', sans-serif;
	height: 50px;
	padding: 5px;
	font-weight: bold;
	margin-right: 5px;
}

p {
	background-color: yellow;
	display: inline;
}

div {
	display: inline;
	background-color: #eb234e;
}