* {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

p {
	background-color: yellow;
	height: 50px;
	padding: 5px;
	width: 160px;
	display: inline-block;
}

div {
	display: inline-block;
	background-color: #eb234e;
	height: 50px;
	padding: 5px;
	width: 160px;
}