* {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
section {
	background-color: lightblue;
	padding: 10px;
	width: 530px;
}

p {
	background-color: yellow;
	height: 50px;
	padding: 5px;
	width: 160px;
	margin: 10 5px;
	display: inline-block;
}

div {
	display: inline-block;
	background-color: #eb234e;
	height: 50px;
	padding: 5px;
	width: 160px;
	margin: 20 5px;
}